body {
    width: 70%;
    margin: auto;
}

#chat {
    background-color: aliceblue;
    height: 400px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

#controls {

    margin: auto;
}

.my-message {
    text-align: right;
}

.other-message {
    text-align: left;
}

.error {
    background-color: darkred;
    color: white;
}